  
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {	
	position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 40px;
  min-width: 100%;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
}* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #08fff3 0%, #ffb199 100%);
  background-size: 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.learn__more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #159dc7;
  color: #fff;
}

.learn__more:hover {
  font-size: larger;
  background: #1e73c4;
  transition: all 0.3s ease;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #4846d6 0%, #fe5196 100%);
  color: #fff;
}

.button:hover {
  font-size: larger;
  background: #fe5196;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 130vh;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 450%;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    padding-top: 10px;
    text-align: center;
    padding-left: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*Hero Section CSS */

.main {
  background-color: #141414;
  background-size: 100%;
  overflow-x: hidden;
}

.main__container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 0;
  height: 90%;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  padding: 0 10px;
}

#section1 h2 {
  text-align: left;
  padding-left: 2rem;
  align-content: space-around;
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #99c2ff 0%, #08ffea 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#section1 h3 {
  text-align: left;
  margin-top: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #fe5196 0%, #4846d6 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 3rem;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:hover {
  font-size: larger;
}

#section2 {
  height: 700px;
  text-align: center;
  color: #62f7e3;
  background: #131313;
  display: inline-block;
  width: 100%;
}

#section3 {
  padding-top: 80px;
  height: 700px;
  text-align: center;
  color: #62f7e3;
  background-color: #131313;
  display: inline-block;
  width: 100%;
}

#section4 {
  padding-top: 4rem;
  height: 1200px;
  text-align: center;
  color: #62f7e3;
  background-color: #131313;
  display: inline-block;
  width: 100%;
}
#section5 {
  padding-top: 4rem;
  height: 1200px;
  text-align: center;
  color: #62f7e3;
  background-color: #131313;
  display: inline-block;
  width: 100%;
}

#section2--header {
  padding-top: 90px;
}
#section3--header {
  background-color: #131313;
  padding-top: 90px;
}
#section4--header {
  background-color: #131313;
  padding-top: 75px;
}
#section5--header {
  background-color: #131313;
  padding-top: 75px;
}

.section2--body {
  line-height: 2rem;
  margin-top: 6rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section2--image {
  margin-top: -225px;
  text-align: center;
  overflow-x: hidden;
  background-color: #131313;
}

.section3--body {
  line-height: 2rem;
  margin-bottom: 25rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--body {
  line-height: 2rem;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.section5--body {
  text-align: left;
  line-height: 2rem;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--line1 {
  margin-top: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--line2 {
  margin-top: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.calendarTitle {
  margin-top: 3rem;
}

.calendar {
  margin-top: 2rem;
  background-color: #131313;
}

.signup__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4846d6 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: -2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.signup__btn:hover {
  font-size: larger;
}

.signup__btn {
  text-decoration: none;
}

.happy_holidays {
  width: 100%;
  margin-top: 6rem;
  font-size: 4rem;
  background-color: #131313;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#insta {
  border-radius: 9px;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: image;
  -moz-background-clip: image;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: fit-content;
  height: fit-content;
}

.pres {
  padding-right: 5rem;
  display: inline-block;
  margin: 10px;
  text-align: center;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.sup {
  text-align: center;
  padding-right: 5rem;
  display: inline-block;
  margin: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.vp {
  text-align: center;
  padding-right: 5rem;
  display: inline-block;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.sec {
  text-align: center;
  padding-right: 5rem;
  display: inline-block;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.MT {
  display: inline-block;
  margin: 10px;
  padding-right: 5rem;
  text-align: center;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.MT h2 {
  font-size: 1rem;
}

.sec h2 {
  font-size: 1.3rem;
}


.logo {
  color: rgb(211, 211, 211);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(211, 211, 211);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(211, 211, 211);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 900px) {
	.nav-links {
		width: 90%;
	  }
  

@media screen and (max-width: 750px) {
	body{
		overflow-x: hidden;


	}
  .nav-links{
	  position: fixed;
	  right: 0px;
	  height: 90vh;
	  top: 10vh;
	  background-color: #5d4954;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  letter-spacing: 3px;
	  width: 90%;
	  transform: translateX(100%);
	  transition: transform 0.5s ease-in;  
  }

  .nav-links li{
	  opacity: 0;
  }

  .burger{
	  display: block;
	}
}

  .nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

	
.img-area{
	background-colour: black;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

}

.slider-text{
	z-index: 2;
	border: 1px solid #fff;
	width: 650px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: crimson;
	padding: 30px, 35px;

}
