  
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  background: #28022e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #08fff3 0%, #ffb199 100%);
  background-size: 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 80px;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 60px;
}

.learn__more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #159dc7;
  color: #fff;
}

.learn__more:hover {
  font-size: larger;
  background: #1e73c4;
  transition: all 0.3s ease;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #4846d6 0%, #fe5196 100%);
  color: #fff;
}

.button:hover {
  font-size: larger;
  background: #fe5196;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    height: 60%;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 130vh;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    display: inline-block;
    width: 100%;
    background: var(--c-tertiary);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(50px);
    position: relative;
    padding: calc(var(--v-space)/2) 0;
    background: rgb(78, 6, 78);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 100%;
    position: absolute;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 99;
    height: 670%;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 100%;
  }

  .navbar__links {
    margin-top: 0%;
    text-align: center;
    padding-left: 2rem;
    width: 100%;
    display: grid;
  }

  #mobile-menu {
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*Hero Section CSS */

.main {
  background-color: #141414;
  background-size: 100%;
  overflow-x: hidden;
}

.main__container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 0;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  padding: 0 10px;
}

#section1 h2 {
  text-align: left;
  padding-left: 2rem;
  align-content: space-around;
  font-size: 4rem;
  z-index: -1;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #99c2ff 0%, #08ffea 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#section1 h3 {
  text-align: left;
  margin-top: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#particles-js {
  position: fixed;
  bottom: 0px;
height: 100%;
width: 100%;
background:#380634;
filter: blur(0px);
z-index: -1;

}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #fe5196 0%, #4846d6 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 3rem;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:hover {
  font-size: larger;
}

#section2 {
  position: relative;
  height: 800px;
  margin-bottom: 30px;
  justify-content: space-between;
  text-align: center;
  color: #62f7e3;
  display: inline-block;
  width: 90%;
  left: 5%;
  background: var(--c-tertiary);
  backdrop-filter: saturate(130%) blur(6px);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  position: relative;
  padding: calc(var(--v-space)/2) 0;
  border-radius: 50px;
}

.footer{
  position: relative;
  top: 160px;
  width: 100vw;
  display: block;
  overflow-x: hidden;
  padding: 30px 0px;
  box-sizing: border-box;
  backdrop-filter: saturate(130%) blur(6px);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
}

.inner_footer{
  display: block;
  margin: 0 auto;
  width: 510px;
  height: 100%;
}

.inner_footer .logo_container{

  width:15%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer h1{
  text-align: center;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 135%;
}

.inner_footer .logo_container img{
  position: relative;
  width: 190%;
  left: 230%;
  height: auto;
}

#section3 {
  padding-top: 30px;
  text-align: center;
  color: #62f7e3;
  height: 300px;
  display: inline-block;
  text-align: center;
  left: 15%;
  width: 70%;
  background: var(--c-tertiary);
  backdrop-filter: saturate(130%) blur(6px);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  position: relative;
  padding: calc(var(--v-space)/2) 0;
  border-radius: 50px;
}



#section4 {
  position: relative;
  top: 60px;
  text-align: center;
  color: #62f7e3;
  left: 10%;
  width: 80%;
  height: 400px;
  display: inline-block;
  background-color: ivory;
  background: var(--c-tertiary);
  backdrop-filter: saturate(130%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  position: relative;
  padding: calc(var(--v-space)/2) 0;
  border-radius: 50px;
  padding-bottom: 100px;
}
#section5 {
  top: 30px;
  text-align: center;
  color: #62f7e3;
  left: 5%;
  height: 700px;
  display: inline-block;
  width: 90%;
  background: var(--c-tertiary);
  backdrop-filter: saturate(130%) blur(6px);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  position: relative;
  padding: calc(var(--v-space)/2) 0;
  border-radius: 50px;

}

.form{
  position: relative;
  left: 15%;
  width: 70%;
}

#section2--header {
  padding-top: 90px;
  
}
#section3--header {
  padding-top: 90px;
}
#section4--header {
  padding-top: 70px;
  
}
#section5--header {
  padding-top: 95px;
  
}

.section2--body {
  line-height: 2rem;
  margin-top: 6rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section2--image {
  padding-top: 10%;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  border-radius: 20px;
}

.section3--body {
  line-height: 2rem;
  margin-bottom: 25rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--body {
  margin-bottom: 20rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.section5--body {
  text-align: left;
  line-height: 2rem;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--line1 {
  margin-top: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.section4--line2 {
  margin-top: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.calendarTitle {
  margin-top: 3rem;
}

.calendar {
  margin-top: 2rem;
  background-color: #131313;
}

.signup__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #4846d6 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: -2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.signup__btn:hover {
  font-size: larger;
}

.signup__btn {
  text-decoration: none;
}

.happy_holidays {
  width: 100%;
  margin-top: 6rem;
  font-size: 4rem;
  background-color: #131313;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#insta {
  border-radius: 9px;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: image;
  -moz-background-clip: image;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: fit-content;
  height: fit-content;
}

#section5 h3{
  font-size: 1rem;
  display: block;
  margin: 10px;
  text-align: center;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #269fcf 0%, #a026be 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#section5 h2 {
  font-size: 2rem;
  display: inline-block;
  margin: 10px;
  text-align: center;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sec h2 {
  font-size: 1.3rem;
}

